/*
 * Main CSS file
 */


//**************************************************
// GOOGLE FONTS
//**************************************************

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Raleway:600,700');


//**************************************************
// BOOTSTRAP GRID
//**************************************************

$grid-columns: 12;
$grid-gutter-width: 28px !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1176px
);

@import "../../node_modules/bootstrap/scss/bootstrap-grid";
@import "../../node_modules/normalize-scss/sass/normalize";


//**************************************************
// INCLUDES
//**************************************************

@import "includes/_helpers";
@import "includes/_icons";
@import "includes/_variables";
@import "includes/_mixins";
@import "includes/_layout";
@import "includes/_typography";


//**************************************************
// MODULES
//**************************************************


@import "modules/_header";
@import "modules/_hero";
@import "modules/_about";
@import "modules/_features";
@import "modules/_portfolio";
@import "modules/_btn";
@import "modules/_search";
