//**************************************************
// DEFAULT
//**************************************************
body {
    color: $text_color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    background-color: rgba($color_01, 0.3);
    // color: $text_color;
}



//**************************************************
// LINKS
//**************************************************
a {
    color: $color_01;
}

a:link, a:active, a:visited, a:hover{
    text-decoration: none;
    outline: 0;
}

a:active, a:visited {
    outline: 0;
}

.text--center {
    text-align: center;
}

.text-right {
    text-align: center;

    @include media-breakpoint-up(md) {
        text-align: right;            
    }
}


//**************************************************
// HEADINGS AND PARAGRAPHS
//**************************************************



@include media-breakpoint-down(lg) {
    h1 {
        @include font-size(24);
        @include line-height(36);
        font-weight: 300;
    }
}

@include media-breakpoint-up(lg) {
    h1 {
        @include font-size(40);
        @include line-height(58);
        font-weight: 300;
    }
}



@include media-breakpoint-down(lg) {
    h2 {
        @include font-size(28);
        @include line-height(36);
        font-weight: 300;
        margin: 0 0 32px;
    }
}

@include media-breakpoint-up(lg) {
    h2 {
        @include font-size(32);
        @include line-height(44);
        font-weight: 300;
        margin: 0 0 45px;
    }
}


.section__info {
    margin: 0;
    @include font-size(15);
    @include line-height(30);
    font-weight: 300;

    p {
        margin: 0 0;

        & + p {
            margin-top: 10px;
        }
    }
}