//**************************************************
// COLORS
//**************************************************

$bg_color: #FFFFFF;
$text_color: #333333;

$color_01: #3498DB; // Light blue - links
$color_02: #4A90E2; // Darker blue - borders
$color_03: #F5F5F5; // Light gray
$color_04: #3F5062; // Dark blue


//**************************************************
// TYPOGRAPHY
//**************************************************

$font_prim: 'Open Sans', sans-serif;
$font_sec: 'Raleway', sans-serif;

$main_fs: 62.5%;
$main_lh: 1.5;