$m: header;

.#{$m} {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;

    @include media-breakpoint-up(lg) {
        height: 70px;
    }

    @include media-breakpoint-down(lg) {
        height: 80px;
    }

    &__wrapper {
        padding: 0 28px;

        @include media-breakpoint-up(lg) {
            padding: 0 100px;
        }

        .black & {
            background-color: #fff;
        }
    }

    &__logo {
        display: block;
        float: left;

        @include media-breakpoint-down(lg) {
            margin: 25px 0;
            height: 20px;

            img {
                width: auto;
                height: 20px;
            }
        }

        @include media-breakpoint-up(lg) {
            margin: 28px 0;
            height: 26px;

            img {
                width: auto;
                height: 26px;
            }
        }
    }

    &__right {

        @include media-breakpoint-down(md) {
            position: absolute;
            top: 0;
            right: 28px;
        }

        @include media-breakpoint-up(md) {
            float: right;
            text-align: right;
        }
    }

    &__nav {
        @include media-breakpoint-down(md) {
            display: none;
            visibility: hidden;
        }

        @include media-breakpoint-up(lg) {
            margin-top: 32px;
            display: inline-block;
            vertical-align: top;
        }

        li {
            float: left;

            a {
                display: block;
                @include font-size(11);
                @include line-height(14);
                text-transform: uppercase;
                letter-spacing: 3.4px;
                color: #FFF;
                padding: 0 12px;
                position: relative;
                cursor: pointer;

                .black & {
                    color: #333;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 0%;
                    height: 2px;
                    margin-top: 8px;
                    background-color: rgba(#FFF, 0);
                    @include transition(all 0.2s);
                }

                &:hover:after {
                    width: 100%;
                    background-color: rgba(#FFF, 0.3);
                }
            }
        }

        &--mobile {
            @include media-breakpoint-down(md) {
                position: fixed;
                top: 70px;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                z-index: 2000;
                background-color: #333;
                display: block;
                visibility: visible;
                @include transition(all 0.5s);
                @include translateX(100%);
                overflow-x: hidden;
                overflow-y: auto;
                padding: 30px 0;

                &.opened {
                    @include translateX(0%);
                }

                li {
                    float: none;

                    a {
                        text-align: right;
                        padding: 12px 26px;
                    }
                }
            }

            @include media-breakpoint-up(md) {
                display: none;
                visibility: hidden;
            }
        }

    }

    &__search {
        display: inline-block;
        vertical-align: top;

        @include media-breakpoint-down(lg) {
            margin-top: 24px;
        }

        @include media-breakpoint-only(lg) {
            margin-top: 28px;
            margin-left: 20px;
        }

        @include media-breakpoint-up(xlg) {
            margin-top: 28px;
            margin-left: 66px;
        }

        &_icon {
            @include font-size(24);
            color: #FFF;
            cursor: pointer;

            .black & {
                color: #333;
            }
        }
    }

    &__toggle {
        @include media-breakpoint-down(lg) {
            display: inline-block;
            vertical-align: top;
            position: relative;
            width: 24px;
            height: 22px;
            margin-top: 24px;
            margin-left: 16px;

            span, span:after, span:before {
                content: '';
                display: block;
                width: 24px;
                height: 2px;
                background-color: #fff;
                position: absolute;
                @include transition(all 0.3s);

                .black & {
                    background-color: #333;
                }
            }

            span {
                top: 50%;
                @include translateY(-50%);

                &:before {
                    top: -6px;
                    @include rotate(0deg);
                }

                &:after {
                    top: 6px;
                    @include rotate(0deg);
                }
            }

            &.opened {
                span {
                    background-color: rgba(#FFF, 0);

                    &:before {
                        top: 0;
                        @include rotate(-45deg);
                    }

                    &:after {
                        top: 0;
                        @include rotate(45deg);
                    }
                }
            }
        }
    }
}



.blacklogo {
    display: none;
}

.midnightHeader.black {
    .whitelogo {
        display: none;
    }

    .blacklogo {
        display: inline-block;
    }
}